{% extends "layoutpr.html" %}

{% block content %}
<h1> welcome!AEC lab information</h1>
<button type="button" class="btn btn-default btn-sm"  ><a href="{{url_for('logout')}}">
          <span class="glyphicon glyphicon-log-out"></span> Log out
</a> 
        </button>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
              
                <th>lab num</th>
                <th>lab name</th>
                <th>floor num</th>
                <th>Incharge</th>
                <th>Technicians</th>
                <th>Softwares</th>
                <th>Total system</th>
                <th>Under maintenance</th>
                <th>action</th>
        
            </tr>

        </thead>
        <tbody>
          {% for d in data %}
            <!--<tr><td>{{loop.index}}</td>-->
                <td>{{d[0]}}</td>
                <td>{{d[1]}}</td>
                <td>{{d[2]}}</td>
                <td>{{d[3]}}</td>
                <td>{{d[4]}}</td>
                <td>{{d[5]}}</td>
                <td>{{d[6]}}</td>
                <td>{{d[7]}}</td>
                
                           <td>
                    <form action="{{url_for('delete1')}}" method="POST">
                    <button value="{{d[0]}}" name="delete1"> Delete1</button>
                </form>
                </td>
                <td>
                    <form action="{{url_for('edit1')}}" method="POST">
                    <button value="{{d[0]}}" name="edit1"> Edit1</button>
                </form>
                </td>


            </tr>
            {% endfor %}
            </tbody>
         </table>
<script>
  $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>


{% endblock %}



